/* Tutaj trzymamy wyłącznie typografię */

%font-primary,
.font-primary {
  font-family: $font-primary;
}
%font-secondery,
.font-secondery {
  font-family: $font-secondery;
}

%typo-h1,
.typo-h1,
h1 {
  @extend %font-primary;
  @include typography(60px, 70px, 500);
  color: $color-black;
  font-style: normal;
 
   @include media-breakpoint-down(sm) { 
    @include typography(32px, 42px, 500);
   }
   @include media-breakpoint-down(md) { 
    @include typography(40px, 50px, 500);
   }
}

%typo-h2,
.typo-h2,
h2 {
  @extend %font-primary;
  @include typography(48px, 55px, 500);
  color: $color-black;
  letter-spacing: -1.44px;
  font-style: normal;
  margin: 0;
  span{
    @extend %font-secondery;
    font-style: italic;
  }
  @include media-breakpoint-down(md) { 
    @include typography(32px, 40px, 500);
   }
   @include media-breakpoint-down(sm) { 
    @include typography(24px, 32px, 500);
    letter-spacing: 0;
   }
}
h2.small {
  @extend %font-primary;
  @include typography(40px, 48px, 400);
  color: $color-black;
  letter-spacing: -2px;
  font-style: normal;
  span{
    @extend %font-secondery;
    font-style: italic;
  }
  @include media-breakpoint-down(md) { 
    @include typography(28px, 36px, 400);
   }
   @include media-breakpoint-down(sm) { 
    @include typography(20px, 28px, 400);
    letter-spacing: 0;
   }
}

%typo-h3,
.typo-h3,
h3 {
  @extend %font-primary;
  @include typography(28px, 32.2px, 500);
  color: $color-black;
  letter-spacing: -1.4px;
  @include media-breakpoint-down(md) { 
    @include typography(24px, 28px, 500);
   }
   @include media-breakpoint-down(sm) { 
    @include typography(20px, 24px, 500);
   }
}

%typo-h4,
.typo-h4,
h4 {
  @extend %font-primary;
  @include typography(14px, 32.2px, 500);
  color: $color-black;
  letter-spacing: -1.4px;
  @include media-breakpoint-down(md) { 
    @include typography(12px, 28px, 500);
   }
   @include media-breakpoint-down(sm) { 
    @include typography(10px, 24px, 500);
   }
}

%p-regular,
.p-regular,
p {
  @extend %font-secondery;
  @include typography(16px, 24px, 400);
  color: $color-black;
  @include media-breakpoint-down(md) { 
    @include typography(14px, 22px, 400);
   }
   @include media-breakpoint-down(sm) { 
    @include typography(14px, 20px, 400);
   }
}
p.small{
  @extend %font-secondery;
  @include typography(14px, 21px, 400);
  color: $color-black;
  letter-spacing: -0.14px;
 
}
span.category{
  @include typography(12px, 18px, 400);
  color: $color-green;
  letter-spacing: -0.12px;
  margin-bottom: 16px;
  @extend %font-secondery;
  &--white{
    color: $color-white;
  }
  @include media-breakpoint-down(md) { 
    @include typography(14px, 22px, 400);
   }
   @include media-breakpoint-down(sm) { 
    @include typography(12px, 20px, 400);
   }
}

a{
  @extend %font-secondery;
  @include typography(16px, 24px, 400);
  color: $color-green;
  @include media-breakpoint-down(md) { 
    @include typography(14px, 22px, 400);
   }
}