//fonts
$font-primary: "Montserrat", sans-serif;
$font-primary-italic: "Montserrat-italic", sans-serif;
$font-secondery: "Inter", sans-serif;

//colors
$color-green: #1B5B31;
$color-dark-green: #144425;
$color-grey: #F5F0EC;
$color-beige: #DCC1AB;
$color-white: #fff;
$color-black: #111111;
